<?xml version="1.0" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
    <title>BLOG</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="~/Content/css/main.css" />
    <link rel="stylesheet" media="print" type="text/css" href="~/Content/css/print.css" />
    <link rel="stylesheet" media="aural" type="text/css" href="~/Content/css/aural.css" />
</head>
<body id="www-url-cz">
    <div id="main" class="box">
        <div id="header">
            <h1 id="logo"><a href="http://web-mastery.info/">Blog<strong>X</strong><span></span></a></h1>
            @*<hr class="noscreen" />
            <div class="noscreen noprint">
                <p><em>Quick links: <a href="#content">content</a>, <a href="#tabs">navigation</a>, <a href="#search">search</a>.</em></p>
                <hr />
            </div>*@
            <div id="search" class="noprint">
                <form action="####" method="get">
                    <fieldset>
                        <legend>Search</legend>
                        <label>
                            <span class="noscreen">Find:</span> <span id="search-input-out">
                                <input type="text" name="" id="search-input" size="30" />
                            </span>
                        </label>
                        <input type="image" src="~/Content/design/search_submit.gif" id="search-submit" value="OK" />
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="tabs" class="noprint">
            <h3 class="noscreen">Navigation</h3>
            <ul class="box">
                <li><a href="###">Home<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li id="active"><a href="###">Weblog<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li><a href="###">About Me<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li><a href="###">Photos<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li><a href="###">Portfolio<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li><a href="###">Contact<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li><a href="###">Links<span class="tab-l"></span><span class="tab-r"></span></a></li>
            </ul>
            <hr class="noscreen" />
        </div>
        <div id="page" class="box">
            <div id="page-in" class="box">
                <div id="strip" class="box noprint">
                    <p id="rss"><strong>RSS:</strong> <a href="###">articles</a> / <a href="###">comments</a></p>
                    <hr class="noscreen" />
                    <p id="breadcrumbs">You are here: <a href="###">Home</a> &gt; <a href="###/">Category</a> &gt; <strong>Page</strong></p>
                    <hr class="noscreen" />
                </div>
                @RenderBody()
                <div id="col" class="noprint">
                    <div id="col-in">
                        <h3><span><a href="###">About Me</a></span></h3> @* создать страцину*@
                        <div id="about-me">
                            <p>
                                <img src="~/Content/design/tmp_photo.JPG" id="me" alt="Yeah, it´s me!" /> <strong>Andrew Blinets</strong><br />
                                Age: 19<br />
                                Kletsk, RB<br />
                                <a href="https://vk.com/id80051665">Profile on VK</a>
                            </p>
                        </div>
                     
                           @*<hr class="noscreen" />
                            <h3><span>Category</span></h3>
                            <ul id="category">
                                <li id="category-active"><a href="http://web-mastery.info/">Selected category</a></li>
                                <li><a href="http://web-mastery.info/">Category</a></li>
                                <li><a href="http://web-mastery.info/">Category</a></li>
                                <li><a href="http://web-mastery.info/">Category</a></li>
                                <li><a href="http://web-mastery.info/">Category</a></li>
                            </ul>*@

                        @Html.Action("Recent", "Article")
                        @Html.Action("Recent","Comment")

                        <hr class="noscreen" />
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="top" class="noprint">
                <p><span class="noscreen">Back on top</span> <a href="#header" title="Back on top ^">^<span></span></a></p>
            </div>
            <hr class="noscreen" />
            <p id="copyright">&copy; 2007 <a href="http://web-mastery.info/">Home</a> | EmeraldX by <a href="http://www.kendahlin.com/">Ken Dahlin</a></p>
        </div>
    </div>
</body>
</html>
